body {
  margin-top: 40px;
  background-color: #010101;
}

.cards {
  display: grid;
  place-items: center;
  padding: 20px;
}

.cards__header {
  overflow: hidden;
}  

.header__title {
  font-family: 'Rubik', sans-serif;
  font-size: 7.5rem;
  font-weight: 900;
  text-transform: uppercase;
  background-image: url(img/bg-img.jpg);
  background-clip: text;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.cards__list {
  display: grid;
  gap: 1rem;
  max-width: 1024px;
}



@media (max-width: 699px) {
  .header__title {
    font-size: 5.5rem;
  }
}

@media (min-width: 700px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-item {
    height: 350px;
  }
}

@media (min-width: 950px) {
  .cards__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cards-item {
  background-size: cover;
  background-color: #3a8491;
  border-radius: 4px;
}

.cards-item--meeru-island {
  background-image: url('img/1.jpg');
}

.cards-item--flamingo-beech {
  background-image: url('img/2.jpg');
}

.cards-item--protur-safari {
  background-image: url('img/3.jpg');
}

.cards-item--mountain-view {
  background-image: url('img/4.jpg');
}


.cards-item__content {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  background-color: rgba(0, 0, 0, .75);
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  height: calc(100% - 4rem); 
  display: grid;
  grid-template-rows: min-content auto min-content;
  align-items: center;
}

.cards-item__title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
}

.cards-item__description {
  font-family: 'Cardo', serif;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.35;
}

.cards-item__cta {
  display: inline-block;
  background-color: #ffa600;
  color: rgba(0, 0, 0, .75);
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.cards-item__cta:hover {
  background-color: #e69500;
}

.cards-item__cta:focus {
  outline: 1px dashed #e69500;
  outline-offset: 3px;
}

@media (hover:hover) and (min-width: 700px) and (prefers-reduced-motion: no-preference) {
  .cards-item__content {
    transform: translateY(calc(350px - 8rem));
    height: 5rem;
    overflow: hidden;
    transition: all 700ms ease-in-out;
  }

 
  .cards-item__content > *:not(.cards-item__title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: all 700ms ease-in-out;
  }

  .cards-item:hover .cards-item__content,
  .cards-item:focus-within .cards-item__content {
    transform: translateY(0);
    height: calc(350px - 4rem);
  }

  .cards-item:hover .cards-item__content > *:not(.cards-item__title),
  .cards-item:focus-within .cards-item__content > *:not(.cards-item__title) {
    opacity: 1;
    transform: translateY(0);
  } 

}